[submodule "excalidraw"]
	path = excalidraw
	url = https://github.com/nomdetom/excalidraw.git
[submodule "excalidraw-storage-backend"]
	path = excalidraw-storage-backend
	url = https://github.com/nomdetom/excalidraw-storage-backend.git
[submodule "excalidraw-room"]
	path = excalidraw-room
	url = https://github.com/nomdetom/excalidraw-room.git
